body { 
  background-color: #FAEDCD;
}

h1{
  font-size:3em;
}

 p {
  color: black;
  font-size: 1.5em;
} 

h2{
  font-size:2.5em;
}

span{
  font-weight: bold;
}

.form {
width: 80%; 
height: 650px;
max-width: 500px;
margin: 5px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.form input {
width: 90%;
height: 50px;
margin: 0.5rem;
display: flex;
}

.form button {
padding: 0.5em 1em;
border:none;
background: rgb(100, 200, 255);
cursor: pointer;
display: flex;
min-height:55px;
}


/*BOTONES DE REDES SOCIALES*/ 
.buttons {
min-width: 600px; /*ESPACIO ENTRE BOTONES DE REDES SOCIALES*/ 
text-align:center;
display: flex;
justify-content: space-around;
margin-right: 200px;
margin-left: 100px;


}

.buttons a{	

margin-right: 35px;    
text-decoration: none;
font-size: 38px;
width: 50px;
height: 55px;
line-height: 60px;
text-align: center;
background: #314652;
color: #f1f1f1;
border-radius: 50%;
box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
transition: all .4s ease-in-out;
}

.buttons a:hover {
transform: scale(1.2);
}
  


 .grupo-2{
   margin-top:0;
   font-size: 25px;
   width: 100%;
   text-align: center;
   display: block;
   border:blue;
   
}
  
  div.form {
    flex:60%;
    float:left;
    margin-left :20%;
    padding: 25px;
    margin-right: 10px;
  }
  
  
 div.box{
  border-radius: 10px;
  padding: 10px;
  flex: 20%;   /*DETERMINA EL ANCHO DEL DIV , DONDE ESTA EL FORMULARIO*/ 
   /* float :right; */ 
 }
   /*SOBRE NOSOTROS*/
  .box h2{
   margin-top:0;
   font-family: 'Pangolin', cursive;  
   flex: 20%;
  }
  
     
  .box .p{
  display: flex;
  padding: 3px;
  color: black;
  font-family: 'Pangolin', cursive;
  
 }
 
  .box figure img{
     float: right;
     margin-right: 0px;
     padding-right: 0;    
  }
    
  .pie-pagina{
  flex: 100%;
  padding: 30px;   
  margin-bottom: 0;
  font-family: 'Pangolin', cursive;
  

  }

  .fa-youtube {
      background-color: red !important;       
  }
  
  .fa-twitter{
      background-color: #00acee !important;
  }

  .fa-facebook{
      background-color:#3b5998 !important;
  }
  
  .fa-google-plus{
      background-color:#DD4B39 !important;
  }

  .fa-instagram{
      background-color:#d6249f !important;      
  }
